.home_seo_wrap {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .home_seo_wrap {
    width: 90%;
  }
}

.home_seo {
  width: 100%;
  padding: 28px 30px;
  margin: 0 auto;
  clear: both;
  font-size: 13px;
  text-align: right;
  text-align: left;
  border-top: 1px solid #9b9b9b;
}

.home_seo h3 {
  margin-bottom: 10px;
  font-size: 17px;
  color: #414042;
}

.home_seo p {
  margin-bottom: 20px;
  color: #9b9b9b;
}
