@media (max-width: 1260px) {
  .banner {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .banner {
    width: 860px !important;
    margin: 0 auto;
  }
}

.banner {
  width: 70%;
  margin: 0 auto;
  transition: all ease 0.4s;
}

.title p {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}
