.container {
  display: flex;
  flex-direction: column;
  min-width: 960px;
}

.section {
  flex: 1;
  min-width: 960px;
  height: 2000px !important;
}

.back_top svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  transform: translateY(25%);
}

.footer {
  min-width: 960px;
  margin-top: 50px;
}
