.landing_card_wrap {
  position: relative;
  flex: 1;
  margin-right: 15px;
}

.isHover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing_card_wrap:last-child {
  margin-right: 0;
}

.landing_card_wrap .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  text-align: center;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.5), transparent);
  transform: translate(-50%, 0);
}

.landing_card_wrap .content .title {
  position: relative;
  display: block;
  font-size: 18px;
}

.landing_card_wrap .content .title::after {
  position: absolute;
  top: 50%;
  right: 30%;
  width: 15px;
  height: 12px;
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAFVBMVEUAAABCQEJAQEBBQEFAQEBAQEL///+29W7xAAAABnRSTlMAryC/QK9E8ei5AAAAAWJLR0QGYWa4fQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+UJHAcQGi9tV2kAAAApSURBVAjXYxBiYFRgYGBQVmAyAlJAQhkL15mBxQDOg8ihcBiCGFiBHACyQATaFvnVOAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wOS0yOFQwNDoxNjoyNiswMzowMF2xyN8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDktMjhUMDQ6MTY6MjYrMDM6MDAs7HBjAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 75%;
  transform: translate(0, -40%);
}

.landing_card_wrap .content .subTitle {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 5%;
  margin-bottom: 1px;
  line-height: 45px;
  color: #414042;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #414042;
}

.landing_card_wrap .content .subTitle::after {
  position: absolute;
  top: 50%;
  right: 5%;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 3px;
  margin-top: -5px;
  margin-left: 1px;
  color: #767676;
  content: '';
  border-style: solid;
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg);
}
