.wrap {
  position: relative;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
  text-transform: uppercase;
}

.title {
  text-align: center;
}

.wrap::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 1px;
  margin: auto;
  text-transform: uppercase;
  content: '';
  background-color: #414042;
}
