.toolbar_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  color: white;
  background-color: black;
}

@media (max-width: 1260px) {
  .toolbar_wrap {
    width: 90% !important;
  }
}

@media (max-width: 960px) {
  .toolbar_wrap {
    width: 860px !important;
  }
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left p {
  margin-right: 3px;
  cursor: pointer;
}

.left p:first-child {
  cursor: default;
}

.choose_list_wrap {
  position: absolute;
  right: 0;
  bottom: 1px;
  z-index: 2;
  display: none;
  color: #333;
  background-color: white;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  transform: translate(-15%, 101%);
}

.title {
  display: flex;
  justify-content: space-between;
}

.right {
  cursor: pointer;
}

.right .title p {
  padding: 0 5px;
}

.jiantou {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0 !important;
  margin-top: 5px;
  border-right: 1px solid white;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all ease 0.3s;
  transform: rotate(45deg);
}

.choose_list_li {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: flex-start;
  padding: 3px 8px;
  cursor: pointer;
}

.choose_list_li:hover {
  background-color: rgb(211, 211, 211);
}

.icon {
  position: relative;
  width: 9px;
  height: 4px;
  padding-left: 20px;
}

.icon i {
  position: absolute;
  top: 8px;
  left: 9px;
  display: block;
  width: 9px;
  height: 4px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  transform: rotate(-45deg);
}
